<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
  <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mr-auto" href="#"><img src="" height="30" width="41" alt=""></a>
      <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-home fa-lg"></span> Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-info fa-lg"></span> About</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/menu"><span class="fa fa-list fa-lg"></span> Menu</a></li>
              <li class="nav-item"><a class="nav-link"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
          </ul>
          <span class="navbar-text">
              <a id="mylogin">
                  <span class="fa fa-sign-in"></span> Login
              </a>
              <a id="" data-toggle="modal" data-target="#cart">
                <span class="fa fa-shopping-cart"></span> Cart
            </a>
          </span>
      </div>

  </div>
</nav>

<header class="jumbotron">
  <div class="container">
      <div class="row row-header">
          <div class="col-12 col-sm-6">
              <h1>Cafe</h1>
              <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
          </div>
      </div>
  </div>
</header>
<script src="./my-cafe.js"></script>

<app-cart [items]="items" (itemAdded)="addToCart($event)" [events]="eventsSubject.asObservable()"></app-cart>
<app-menu (itemAdded)="addToCart($event)"></app-menu> 


<router-outlet ></router-outlet>
